<div id="<%= dom_id coach_par_avail %>">
  <p>
    <strong>Start date:</strong>
    <%= coach_par_avail.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= coach_par_avail.end_date %>
  </p>

  <p>
    <strong>Account:</strong>
    <%= coach_par_avail.account_id %>
  </p>

</div>
