<p style="color: green"><%= notice %></p>

<h1>Coach par avails</h1>

<div id="coach_par_avails">
  <% @coach_par_avails.each do |coach_par_avail| %>
    <%= render coach_par_avail %>
    <p>
      <%= link_to "Show this coach par avail", coach_par_avail %>
    </p>
  <% end %>
</div>

<%= link_to "New coach par avail", new_coach_par_avail_path %>
